# Final Assignment Instructions: Create and Share you Jupyter Notebook

#### Exercise 2 - Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

Data Science Tools and Ecosystem are summarized in the practice using Jupyter notebook.

#### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. SQL

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

#### Exercise 6 - Create a markdown cell with a table of Data Science tools


| Data Science Tools |
| -------------|
| Jupyter Notebook |
| Visual Studio Code |
| R Studio |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

#### Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [66]:
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [70]:
200/60

3.3333333333333335

#### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Create a Jupyter Notebook;
- Create a markdown cell to list data science languages
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to convert minutes to hours

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Renan Cardoso dos Santos